<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/swiper.css"/>
    <link rel="stylesheet" href="css/licai.css"/>
    <title>理财产品</title>
</head>
<body ng-app="myapp">

<header class="header">
    <span>理财产品</span>
    <i class="icon headicon"  ng-click='isshow()'>&#xe6dd;</i>
</header>

<section class="section">
    <div class="section_top">
        <h3><a href="#" class="bori section_top_h3bor">债券产品</a></h3>
        <h3><a href="#" class="">优选基金</a></h3>
    </div>
    <div class="issw" ng-show="show">
        <div class='mark'></div>
        <ul >
            <li>
                <label>
                    <input type='radio' name="a"/>
                    <div class='anniu'><em></em>全部</div>
                </label>
            </li>
            <li>
                <label>
                    <input type='radio' name="a"/>
                    <div class='anniu'><em></em>押车宝</div>
                </label>
            </li>
            <li>
                <label>
                    <input type='radio' name="a"/>
                    <div class='anniu'><em></em>流水宝</div>
                </label>
            </li>
            <li>
                <label>
                    <input type='radio' name="a"/>
                    <div class='anniu'><em></em>黄金宝</div>
                </label>
            </li>
            <li>
                <label>
                    <input type='radio' name="a"/>
                    <div class='anniu'><em></em>体验宝</div>
                </label>
            </li>
        </ul>
    </div>
    <div class="swiper-container section_center">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper1">
                <div class="swiper1_cont" ng-controller="myctrl1">
                    <div ng-repeat="i in datas1">
                        <h4><b>押租宝</b><span>|    汽车供应链第75期</span></h4>
                        <div class="swiper1_cont_list">
                            <h5 class="col"><span>{{i.loanType}}</span></h5>
                            <ul>
                                <li>年化利率</li>
                                <li class="col">.0%</li>
                            </ul>
                            <ol>
                                <li>期限</li>
                                <li><em>{{i.deadlineStr}}</em></li>
                            </ol>
                            <dl>
                                <dt><span>抢购</span></dt>
                                <dd>已有 <em>122</em>人购买</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper1">
                <div class="swiper1_cont"  ng-controller="myctrl2">
                    <div ng-repeat="iis in datas2">
                        <h4><b>国投瑞银美丽中国混合</b><span>|    (000063)混合型</span></h4>
                        <div class="swiper1_cont_list">
                            <h5 class="col"><em>+</em><span>{{iis.investmentNum}}</span></h5>
                            <ul>
                                <li>季涨幅</li>
                                <li class="col">.0%</li>
                            </ul>
                            <ol>
                                <li>单位净值</li>
                                <li><em>3.1230</em></li>
                            </ol>
                            <dl>
                                <dt><span>抢购</span></dt>
                                <dd>已有 <em>122</em>人购买</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <a href="#" class="footer_active">
        <i class="icon">&#xe654;</i>
        <span>首页</span>
    </a>
    <a href="#">
        <i class="icon">&#xe70d;</i>
        <span>理财产品</span>
    </a>
    <a href="#">
        <i class="icon">&#xe602;</i>
        <span>我的账户</span>
    </a>
    <a href="#">
        <i class="icon">&#xe68a;</i>
        <span>更多</span>
    </a>

</footer>

<script src="../../jquery-2.1.1.min.js"></script>
<script src="../../angular-1.3.8.js"></script>
<script src="js/swiper.js"></script>


<script>

    var mySwiper = new Swiper('.swiper-container',{
        direction:"horizontal",
        onSlideChangeStart:function(swiper) {
            // 获取当前下标
            console.log(swiper.activeIndex);
            var ind = swiper.activeIndex;
            console.log(ind)
            $(".section_top h3").find("a").eq(ind).addClass("section_top_h3bor").parent().siblings().find("a").removeClass("section_top_h3bor");
        }
    })
    $(".section_top h3").on("click",function(){
        console.log(11)
        var indx=$(this).index();
        $(this).find("a").eq(indx).addClass("section_top_h3bor").parent().siblings().find("a").removeClass("section_top_h3bor");
        mySwiper.slideTo($(this).index());
    })


//    $(".headicon").on("click",function(){
//        var str="";
//        str="<div class='mark' ng-click='isshow()'"+
//                "<ul ng-show='show'>>"+
//                    "<li>"+
//                        "<label><input type='checkbox'/>" +
//                        "<div class='anniu'><em></em>全部</div></label>"+
//                    "</li>"+
//                    "<li>123123</li>"+
//                    "<li>123123</li>"+
//                "</ul>"+
//            "</div>"
//        if($(".mark").length<1) $(str).appendTo(".section");
//    })


    var app=angular.module("myapp",[]);
    app.run(function($rootScope){
        $rootScope.show=false;
        $rootScope.isshow=function(){
            $rootScope.show=!$rootScope.show;
        }
    })
    app.controller("myctrl1",["$scope","$http",function($scope,$http){
        $http({
            url:"./t2.json"
        })
        .then(function(data){
            console.log(data);
            $scope.datas1=data.data.rows;
            console.log($scope.datas1)
        },function(){
            console.error("error")
        })
    }])
    app.controller("myctrl2",["$scope","$http",function($scope,$http){
        $http({
            url:"./t1.json"
        })
        .then(function(data2){
            console.log(data2);
            $scope.datas2=data2.data.data.list;
            console.log($scope.datas2)
        },function(){
            console.error("error")
        })
    }])
</script>

</body>
</html>